<div class="text-4xl">マイページ</div>
<%= @user.name %>
<%= @user.age.name %>
<%= @user.gender.type %>
<%= @user.prefecture.name %>
<%= @user.job.name %>
<%= @user.introduction %>
<%= image_tag(@user.thumbnail) %>
