<div class="">プロフィール編集</div>
<%= form_with model: @user do |f| %>
  <%= f.label :name, "名前", class: "" %>
  <%= f.text_field :name, class: "" %>

  <%= f.label :prefecture, "都道府県", class: "" %>
  <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"} ) %>

  <%= f.label :age, "年齢", class: "" %>
  <%= f.collection_select(:age_id, Age.all, :id, :name, {include_blank: "---"} ) %>

  <%= f.label :gender, "性別", class: "" %>
  <%= f.collection_select(:gender_id, Gender.all, :id, :type, {include_blank: "---"} ) %>

  <%= f.label :job, "職業", class: "" %>
  <%= f.collection_select(:job_id, Job.all, :id, :name, {include_blank: "---"} ) %>

  <%= f.label :image, "アイコン画像", class: "" %>
  <%= f.file_field :image, class: "" %>

  <%= f.label :introduction, "自己紹介", class: "" %>
  <%= f.text_area :introduction, class: "", size: "20x10" %>

  <div class="">
  <%= f.submit "保存", class: "" %>
  <%= link_to "キャンセル", :back, class: "" %>
  </div>
<% end %>
